
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar, 
.navbar li, 
.navbar a{
    position: relative;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
.logo{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-decoration: none;

    font-family: Arial;
    font-size: 14px;
}
.logo h1{
    color: black;
}
.logo p{
    color: #727272;
}
.container{
    display: flex;
    justify-content: space-between;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    width: 34%;
    margin: auto;
    padding: 5em 0;
}
.navbar a{
    color: #7e7e7e;
}
nav .social{
    display: flex;
    width: 8.5%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .social img{
    height: 2em;
}
.aboutbtn{
    color: #000000 !important;
}
.aboutbtn::after{
    content: '';
    width: 70%;
    height: 3px;
    position: absolute;
    background: #000000;
    left: 0;
    bottom: -7px;
}

.about .container{
    background-color: #f0f0f0;
    cursor: default;
}
.about .contents{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.about h1{
    font-family: Inter;
    font-size: 95px;
    margin: .5em 1em .2em;
}
.about .contents p:nth-child(1){
    font-family: Inter;
    font-weight: bold;
    font-size: 30px;
    margin: 3.5em 3em 0em;
}
.about .contents p:nth-child(2),
.about .contents p:nth-child(4){
    font-family: Inter;
    font-size: 20px;
    margin: 2.5em 4.6em;
}
.about h2{
    font-family: Inter;
    margin: 2em 3.8em;
    background-color: rgb(0, 0, 0);
    padding: .5rem;
    display: inline-block;
}
.contents h2{
    margin: 2em 3em -35px;
    font-family: Inter;
    color: #ffffff;
    font-size: 30px;
    border-radius: 10px;
}

.techstack .container{
    display: grid;
    margin: 3.5em 6em;
    margin-bottom: 5em;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-rows: minmax(6em, auto);
}
.techstack .container img{
    border-radius: 10px;
    align-items: center;
    width: 50px;
    position: relative;
}
.techstack .container div{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
    font-size: 1em;
    padding: 1em 3em;
    background-color: #dadada;
    color: rgb(46, 46, 46);
    font-family: Inter;
    box-shadow: 4px 4px 8px rgb(187, 187, 187);
    border-radius: 5px;
}

.questions li{
    list-style: none;
    font-family: Inter;
    font-size: 18px;
    color: rgb(78, 78, 78);
    margin: -2.2em 5em 3em;
}

.recommendations h3{
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    margin: 0em 0em;
}
.recommendations p{
    font-size: 18px !important;
    margin: 2em 0em !important;
    color: #313131;
}
.recommendations .contents{
    margin: 3em 5.5em;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: inter;
}
.name{
    display: flex;
    align-items: center;
}
.name p{
    font-size: medium !important;
    margin: 0 !important;
}
.recommendations .contents img{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}

footer .container{
    display: flex;
    margin: auto;
    background-color: #f0f0f0;
}
footer .contents{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 70em;
    border-top: 1.5px solid rgb(168, 168, 168);
}
footer h1{
    font-size: 1.2em;
    font-family: Inter;
}
footer .social{
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}
footer .social img{
    height: 2em;
}