
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar, 
.navbar li, 
.navbar a{
    position: relative;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
.logo{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-decoration: none;

    font-family: Arial;
    font-size: 14px;
}
.logo h1{
    color: black;
}
.logo p{
    color: #727272;
}
nav .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 5em 0;
}
.navbar a{
    color: #7e7e7e;
}
nav .social{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 5px;
}
nav .social img{
    height: 1.8em;
}
.expbtn{
    color: #000000 !important;
}
.expbtn::after{
    content: '';
    width: 70%;
    height: 3px;
    position: absolute;
    background: #000000;
    left: 0;
    bottom: -7px;
}

section{
    cursor: default;
}
.experience h1{
    margin: .5em 0em -20px;
    font-family: Inter;
    color: #d6d6d6;
    font-size: 80px;
}
.experience .contents{
    display: grid;
    grid-template-columns: repeat(2fr, 100px);
    gap: -1em;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    padding-top: 3.4em;
    padding-bottom: 8em;
}
.contents .container{
    color: #222222;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1em 7em;
    gap: 5px;
    padding: 2.2em;
    width: 32em;
    
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0em 1em 1em rgb(212, 212, 212);
    transition: 0.3s ease;
}
.contents .container:hover{
    cursor: default;
    transition: 0.3s ease;
    font-size: 1.2em;
    color: #584040;
}
.experience ul{
    margin: 1em 1em;
    line-height: 1.3em;
    font-family: Arial;
}
.experience p, h2{
    font-family: Inter;
}

.experience h3{
    font-family: Inter;
    font-size: 95px;
    margin: 1.4em 1em -.1em;
}
.certificate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding-bottom: 10em;
}
.certificate .container{
    border-radius: 20px;
    flex-direction: column;
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr;
}
.certificate .container > img{
    filter: saturate(50%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    width: 35em;
    height: 25em;
    transition: 0.3s ease-in-out;
}
.certificate-caption{
    padding: 1em;
    margin: 1em 3.5em;
    font-family: Arial;
    font-size: 1.3em;
}
.certificate .container a{
    display: flex;
    font-family: inter;
    font-size: 1em;
    color: #000000;
    border-radius: 10px;
    width: 10em;
    grid-column: 2;
    padding: 1em;
    justify-content: center;
    margin-left: 25em;
    gap: 7px;
}
.certificate .container .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1.1em;
}

footer .container{
    display: flex;
    margin: auto;
    background-color: #f0f0f0;
}
footer .contents{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 70em;
    border-top: 1.5px solid rgb(168, 168, 168);
}
footer h1{
    font-size: 1.2em;
    font-family: Inter;
}
footer .social{
    display: flex;
    width: 12%;
    justify-content: space-between;
    align-items: center;
    margin: 0em 0em;
    gap: 5px;
}
footer .social img{
    height: 1.8em;
}