
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar, 
.navbar li, 
.navbar a{
    position: relative;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
.logo{
    margin: auto;
    text-decoration: none;
    font-family: Arial;
}
.logo h1{
    color: black;
    font-size: 20px;
}
.logo p{
    color: #727272;
    font-size: 14px;
}
nav .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 95%;
    padding-left: 2em;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 5em 0;
}
.navbar a{
    color: #7e7e7e;
}
.navbar a:hover{
    color: #000000;
}
.navbar li::after{
    content: '';
    width: 0;
    transition: 0.3s ease-in-out;
}
.navbar li:hover::after{
    content: '';
    width: 70%;
    height: 3px;
    position: absolute;
    background: #000000;
    left: 0;
    bottom: -7px;
}
nav .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 5px;
}
nav .social img{
    height: 1.8em;
}

.home{
    height: 460px !important;
    display: flex;
    margin: -2em 0em 0em;
    justify-content: space-evenly;
    align-items: center;
}
.home .pfp{
    margin-top: -.2em;
    height: 22em;
    border-radius: 42% 58% 70% 30% / 69% 56% 44% 31% ;
    box-shadow: 5px 10px 10px 1px rgb(190, 190, 190);
    filter: saturate(150%);
}
.pfpIcon{
    display: flex;
    float: right;
    position: absolute;
    right: 46%;
    top: 325px;
    font-size: 60px;
    font-family: Inter;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.home h1{
    font-family: Inter;
    font-weight: bold;
    font-size: 42px;
    margin: 0;
}
.home p{
    font-family: Inter;
    font-size: 20px;
}
.home .highlight1{
    height: 2em;
    font-weight: bold;
    color: #353535;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(128, 128, 128);
}
.home p{
    margin: 18px 0px 10px 0px;
}
.home p:nth-child(3){
    font-size: 18px;
    color:#5B5B5B;
}

.home .buttons{
    display: flex;
    margin-top: 25px;
}
.home .btn1{
    font-family: Inter;
    text-decoration: none;
    padding: 10px 5rem 10px 5rem;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
}
.home .btn2{
    font-family: Inter;
    text-decoration: none;
    margin: 0 1rem;
    padding: 13px;
    background-color: rgb(235, 235, 235);
    border: none;
    color: black;
    border-radius: 5px;
}
.home .btn1:hover, .btn2:hover{
    filter: contrast(85%);
}

.recent{
    background-color: #f0f0f0;
}
.recent .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin: 7em;
    padding-top: 14em;
    padding-bottom: 25em;
    margin-top: 5em;
    margin-bottom: 0em;
}
.recent h1{
    font-size: 100px;
    line-height: 0.9em;
    font-family: Inter;
}
.recent .content-header{
    display: flex;
    justify-content: space-between;
    gap: 34em;
    align-items: center;
}
.recent a img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1em;
}
.recent .viewall{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 4px 4px 8px rgb(190, 188, 188);
    border-radius: 5px;
    font-family: Inter;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    gap: 10px;
}
.recent .number{
    z-index: 1;
    position: relative;
    font-family: inter;
    font-weight: bold;
    font-size: 22px;
    color: white;
    padding: 4px;
    top: 28rem;
    left: 0em;
}
.recent .content-title{
    z-index: 1;
    position: relative;
    top: -1em;
    left: 0rem;
    font-family: inter;
    font-weight: bold;
    font-size: 22px;
    color: white;
}
.recent .content{
    overflow: hidden;
    padding: 1rem 2rem 7rem;
    background: linear-gradient(to top, #000000, #2c2c2c);
    width: 63rem;
    height: 32em;
    margin: auto;
    box-shadow: 0 5px 20px 0 rgba(97, 97, 97, 0.5);
}
.content img{
    transition: .5s ease;
    padding: 0em;
    max-width: 100%;
    image-rendering: optimizeQuality;
}
.content img:hover{
    transition: .5s ease;
    height: auto;
    transform: scale(1.8);
}

footer .container{
    display: flex;
    margin: auto;
    background-color: #f0f0f0;
}
footer .contents{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 70em;
    border-top: 1.5px solid rgb(168, 168, 168);
}
footer h1{
    font-size: 1.2em;
    font-family: Inter;
}
footer .social{
    display: flex;
    width: 12%;
    justify-content: space-between;
    align-items: center;
    margin: 0em 0em;
    gap: 5px;
}
footer .social img{
    height: 1.8em;
}


@media screen and (max-width: 425px) {
    .logo{
        margin: 2em;
        font-family: Arial;
        font-size: 14px;
        grid-column: 1 / span 3;
    }
    .logo h1{
        color: black;
        font-size: 15px;
    }
    .logo p{
        color: #727272;
        font-size: 12px;
    }
    .navbar a{
        font-size: 13px;
    }
    nav .container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin: 0px;
        padding-left: 0px;
        width: 425px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        gap: 3.3em;
        margin: auto;
        padding: 0em;
        grid-column: 1 / span 2;
    }
    nav .social{
        position: relative;
        top: -3.5em;
        left: -3em;
        display: flex;
        width: 10%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        gap: 5px;
        grid-column: 3;
    }
    nav .social img{
        height: 1.4em;
    }

    .home{
        display: flex;
        margin: -2em 0em 0em;
        padding-left: 2em;
        padding-right: 3em;
        max-width: 100%;
    }
    .home .pfp{
        height: 10em;
    }
    .home p{
        font-size: 10px;
    }
    .home .buttons a{
        font-size: 10px;
    }
    .home .btn1{
        padding: 10px;
    }
    .home .btn2{
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .logo{
        margin: auto;
        font-family: Arial;
        font-size: 14px;
    }
    .logo h1{
        color: black;
        font-size: 15px;
    }
    .logo p{
        color: #727272;
        font-size: 12px;
    }
    .navbar a{
        font-size: 13px;
    }
    nav .container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin: 0px;
        padding-left: 0px;
        width: 768px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 5em 0em;
    }
    nav .social{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        gap: 5px;
    }

    .home{
        display: flex;
        margin: -2em 0em 0em;
        padding-left: 2em;
        padding-right: 3em;
        max-width: 100%;
    }
    .home .pfp{
        height: 18em;
    }
    .home p{
        font-size: 15px;
    }
    .home .buttons a{
        font-size: 14px;
    }
    .home .btn1{
        padding: 10px 2rem 5px 2rem;
    }
    .home .btn2{
        padding: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .logo{
        margin: auto;
        font-family: Arial;
        font-size: 14px;
    }
    .logo h1{
        color: black;
        font-size: 18px;
    }
    .logo p{
        color: #727272;
        font-size: 13px;
    }
    nav .container{
        width: 1024px;
        margin: 0;
        padding-left: 0px;
    }
    .navbar{
        width: 80%;
        margin: auto;
        padding: 5em 0em;
    }
    nav .social{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        gap: 5px;
    }

    .home{
        display: flex;
        margin: -2em 0em 0em;
        padding-left: 2em;
        padding-right: 3em;
        max-width: 100%;
    }
    .home .pfp{
        height: 19em;
    }
    .home p{
        font-size: 18px;
    }
    .home .btn1{
        padding: 9px 5rem 9px 5rem;
    }
    .home .btn2{
        padding: 12px;
    }
}

@media screen and (min-width: 1440px) {
    .logo{
        justify-content: space-between;
        align-items: center;
        margin: auto;
        text-decoration: none;
        
        font-family: Arial;
    }
    nav .container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin: auto;
        width: 1440px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 5em 0em;
    }
    nav .social{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        gap: 5px;
    }

    .home{
        height: 460px !important;
        display: flex;
        margin: -2em 0em 0em;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        max-width: 100%;
    }
    .home .pfp{
        margin-top: -.2em;
        height: 20em;
        border-radius: 42% 58% 70% 30% / 69% 56% 44% 31% ;
        box-shadow: 5px 10px 10px 1px rgb(190, 190, 190);
        filter: saturate(150%);
    }
}
