
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: inter;
}

.navbar, 
.navbar li, 
.navbar a{
    position: relative;
    display: flex;
    list-style: none;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
}
.logo{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-decoration: none;

    font-family: Arial;
    font-size: 14px;
}
.logo h1{
    color: black;
}
.logo p{
    color: #727272;
}
nav .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 5em 0;
}
.navbar a{
    color: #7e7e7e;
}
nav .social{
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 5px;
}
nav .social img{
    height: 1.8em;
}
.projectsbtn{
    color: #000000 !important;
}
.projectsbtn::after{
    content: '';
    width: 70%;
    height: 3px;
    position: absolute;
    background: #000000;
    left: 0;
    bottom: -7px;
}

section{
    cursor: default;
    background-color: #f0f0f0;
    padding: 1rem;
}
section .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: 2em 3em;
    padding: 5em 0em 10em 0em;
    max-width: 37rem;
}

.content-title{
    z-index: 1;
    position: relative;
    top: .5em;
    left: 0rem;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.container .number{
    z-index: 1;
    position: relative;
    top: 19.5rem;
    left: 0rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
}

.content1,
.content2,
.content3{
    padding: 1rem 2rem 7rem;
    background: linear-gradient(to top, #000000, #2c2c2c);
    width: 37rem;
    height: 25rem;
    margin: auto;
    box-shadow: 0 5px 20px 0 rgba(97, 97, 97, 0.5);
}
.content1 img{
    transition: .5s ease;
    height: 102%;
    max-width: 100%;
    image-rendering: optimizeQuality;
}
.content2 img,
.content3 img{
    transition: .5s ease;
    height: 102%;
    width: 100%;
    image-rendering: optimizeQuality;
}
.content1 a img:hover,
.content2 a img:hover,
.content3 a img:hover{
    transform: scale(1.04);
}

footer .container{
    display: flex;
    margin: auto;
    background-color: #f0f0f0;
}
footer .contents{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 70em;
    border-top: 1.5px solid rgb(168, 168, 168);
}
footer h1{
    font-size: 1.2em;
    font-family: Inter;
}
footer .social{
    display: flex;
    width: 12%;
    justify-content: space-between;
    align-items: center;
    margin: 0em 0em;
    gap: 5px;
}
footer .social img{
    height: 1.8em;
}