@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #F8F9FA;
  --foreground: #212529;
  --text-inverted: #ededed; 
  --secondary-background: white;
  --primary: #1D3557;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-inverted: #212529; 
    --secondary-background: black;
    --primary: #A8DADC;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}
